<div class="col-md-5 offset-md-4 formdiv">

    <h3>Create New Employee Record</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class="form-control" id="first_name" [(ngModel)]="employee.first_name" name="first_name">
        </div>
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class="form-control" id="last_name" [(ngModel)]="employee.last_name" name="last_name">
        </div>
        <div class="form-group">
            <label> BU Name</label>
            <input type="text" class="form-control" id="bu_name" [(ngModel)]="employee.bu_name" name="bu_name">
        </div>
        <div class="form-group">
            <label> BU Code</label>
            <input type="text" class="form-control" id="bu_code" [(ngModel)]="employee.bu_code" name="bu_code">
        </div>
        <div class="form-group">
            <label> Region Name</label>
            <input type="text" class="form-control" id="region_name" [(ngModel)]="employee.region_name"
                name="region_name">
        </div>
        <div class="form-group">
            <label> Region Code</label>
            <input type="text" class="form-control" id="region_code" [(ngModel)]="employee.region_code"
                name="region_code">
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>

</div>