<h2>List of All Employees</h2>

<table class="table table striped">

    <thead>
        <tr>
            <th style="padding:2rem 0 1rem 0">First Name</th>
            <th style="padding:2rem 0 1rem 0">Last Name</th>
            <th style="padding:2rem 0 1rem 0">BU Name</th>
            <th style="padding:2rem 0 1rem 0">Region Name</th>
            <th style="padding:2rem 0 1rem 0">Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.bu_name }}</td>
            <td>{{ employee.region_name }}</td>
            <td>
                <button (click)="employeeDetails(employee.user_id)" class="btn "
                    style="background-color: #303642; color:white">Details</button>
                <button (click)="updateEmployee(employee.user_id)" class="btn "
                    style="background-color: #018695; margin-left:20px; color: white;">Update</button>

                <button (click)="deleteEmployee(employee.user_id)" class="btn btn-danger"
                    style="margin-left:20px">Delete</button>
            </td>


        </tr>
    </tbody>

</table>